target
.recommenders
.settings
logs
*.log
.idea
*.iml
*.ipr
*.iws
*.class
.classpath
.project
bin
*.svn
*/lib/*

.DS_Store
._*  
.cache 
.tmproj  
*.esproj  
*.sublime-project  
*.sublime-workspace  
nbproject  
thumbs.db

#Visual Studio
*.sln
*.suo

.pydevproject

*.codekit
.metadata
.vscode
node_modules
.npm
dist
jscoverage_lib 
bower_components

*/template/*
*/**/*.swap

