#OrganizationLinked {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-x: auto;
}
.pa-linked-box {
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: calc(100% - 64px);
    border: 1px solid #eee;
    padding: 10px 20px;
    min-width: 882px;
}
.pa-link-add {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}
.pa-link-add:hover {
    color: #3d82ea;
}
.pa-link-add .pa-add-text {
    display: inline-block;
    transform: translateY(-8px);
    margin-left: 4px;
}
.pa-link-add .icon-xinzeng {
    font-size: 20px;
    display: inline-block;
    transform: translateY(-5px);
}
.pa-linked-table {
    margin-top: 4px;
    width: 100%;
    height: calc(100% - 30px);
}
.pa-linked-box-title{
    padding-bottom: 6px;
    font-weight: 700;
}
.pa-linked-box-account {
    font-weight: normal;
}
.pa-table-head {
    height: 42px;
    line-height: 42px;
    background-color: rgba(236,243,253,0.5);
    font-weight: 600;
}
.pa-table-body {
    width: 100%;
    height: calc(100% - 40px);
    overflow-y: auto;
}
.pa-table-body.one-page {
    bottom: 12px;
}
.pa-table-row {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ecf3fd;
    transition: background-color .4s;
}
.pa-table-row:hover{
    background: #f5f8fd;
}
.pa-table-row .pa-table-col4 {
    color: #3E81EA;
}
.pa-table-col1 {
    width: 20%;
    display: inline-block;
    text-align: center;
}
.pa-table-col2 {
    width: 40%;
    display: inline-block;
    text-align: center;
}
.pa-table-col3 {
    width: 20%;
    display: inline-block;
    text-align: center;
}
.pa-table-col4 {
    width: 17%;
    display: inline-block;
    text-align: center;
}
.icon-tihuantupian {
    cursor: pointer;
    font-size: 20px;
    transform: translateX(1px);
    display: inline-block;
}
.pa-pagination {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
}