#RoleLinkToUserGroup {
    position: relative;
    height: 100%;
}
.pa-linked-box {
    position: absolute;
    top: 44px;
    left: 0px;
    bottom: 17px;
    right: 0px;
    border: 1px solid #eee;
    padding: 10px 20px;
}
.pa-link-add {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    /* color: #3E81EA; */
    transition: color .4s;
}
.pa-link-add:hover {
    color: #3E81EA;
}
.pa-link-add .pa-add-text {
    display: inline-block;
    transform: translateY(-8px);
    margin-left: 1px;
}
.pa-link-add .icon-xinzeng {
    font-size: 20px;
    display: inline-block;
    transform: translateY(-5px);
}
.pa-linked-table {
    margin-top: 4px;
    width: 100%;
}
.pa-linked-box-title{
    padding-bottom: 6px;
    font-weight: 600;
}
.pa-linked-box-title>span{
    font-weight: normal;
}
.pa-table-head {
    height: 42px;
    line-height: 42px;
    background-color: rgba(236,243,253,0.5);
    font-weight: 600;
}
.pa-table-row>span{
    padding: 0 12px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.pa-table-row {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ecf3fd;
    transition: background-color .4s;
}
.pa-table-row:hover{
    background: #f5f8fd;
}
.pa-table-row .pa-table-col5 {
    color: #3E81EA;
}
.pa-table-col1 {
    width: 18%;
    display: inline-block;
    text-align: center;
}
.pa-table-col2 {
    width: 30%;
    display: inline-block;
    text-align: center;
}
.pa-table-col3 {
    width: 38%;
    display: inline-block;
    text-align: center;
}
.pa-table-col4 {
    width: 12%;
    display: inline-block;
    text-align: center;
}
.icon-yichu {
    cursor: pointer;
    font-size: 18px;
    transform: translateX(1px);
    padding: 0px 10px;
    display: inline-block;
}